$white: #fff;
$black: #000;
$link: #bf9652;

$text: #aeb2b6;
$border: #eaedf0;
$dark-border: #d5d9dd;
$dark-text: #7d8083;
$darkest-text: #494c4f;
$btn_red: #eb553c;
$btn_red_hover: #c84833;
$btn_green: #1ebea0;
$btn_green_hover: #1aa288;



%fullBlock {
  width: 100%;
  height: 100%;
  display: block;
}
%valign {
  display: inline-block;
  vertical-align: middle;
}
.layout:after {content: ""; display: block; clear: both;}
.tableBox {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  & > div {
    display: table;
    width: 100%;
    height: 100%;
    & > div {
      display: table-cell;
      vertical-align: middle;
      height: 100%;
    }
  }
}

@mixin fonts($name,$file){
  @font-face {
    font-family: $name;
    src: url("../fonts/" + $file + ".ttf"), url("../fonts/" + $file + ".woff"), url("../fonts/" + $file + ".eot");
  }
}
@mixin media($media,$w) {
  @if $media == hover {
    @media screen and (min-width:$w+'px'){@content;}
  }
  @else {
    @media screen and (max-width:$w+'px'){@content;}
  }
}
@mixin breakpoints($from,$to){
  @media screen and (min-width:$from+'px') and (max-width:$to+'px'){@content;}
}
%hover_underline {
  &:hover {
    @include media(hover,960){
      text-decoration: underline;
    }
  }
}



@include fonts(gibson-lt,Gibson-Light);
@include fonts(gibson-reg,Gibson-Regular);
@include fonts(mostra-lt,MostraTwoLight);
@include fonts(mostra-reg,MostraTwo);
