.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  box-sizing: border-box;
  padding: 20px 20px 0;
  .flex {
    justify-content: space-between;
    align-items: flex-start;
  }
  .logo {
    a {
      display: block;
      width: 50px;
      height: 50px;
      transition: color 0.3s;
      color: $link;
      &:hover {
        color: $white;
      }
    }
  }
  .elements {
    display: flex;
    align-items: center;
    span {
      display: block;
      cursor: pointer;
      color: $link;
      transition: color 0.3s;
      &:hover {
           color: $white;


      }
    }
    ul {
      padding-right: 18px;
      margin-right: 45px;
      border-right: 1px solid $link;
      display: flex;
      align-items: center;
      li {
        margin-left: 15px;
        .ico_fullpage {  width: 21px;  height: 15px;  }
        .ico_volume {  width: 19px;  height: 15px;  }
        .ico_info {  width: 15px;  height: 15px;  }
      }
    }

  }
}