<header id="header" class="header">
    <div class="flex">
        <div class="logo">
            <a href="/"><svg><use xlink:href="assets/svg/sprite.svg#icon_logo"></svg></a>
        </div>
        <div class="elements">
            <ul>
                <li><span id="fullpage" class="ico_fullpage"><svg ><use xlink:href="assets/svg/sprite.svg#icon_fullpage"></svg></span></li>
                <li><span id="volume" class="ico_volume"><svg><use xlink:href="assets/svg/sprite.svg#icon_volume"></svg></span></li>
                <li><span id="info" class="ico_info"><svg><use xlink:href="assets/svg/sprite.svg#icon_info"></svg></span></li>
            </ul>
            <span id="burger" class="burger">
                <span></span>
            </span>
        </div>
    </div>
</header>