<nav id="nav" class="nav">
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">News</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Dining</a></li>
        <li><a href="#">Conference & Events</a></li>
        <li><a href="#">Community</a></li>
        <li><a href="#">Secret garden</a></li>
        <li><a href="#">Careers</a></li>
        <li><a href="#">Media</a></li>
        <li><a href="#">Fine art</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
</nav>
<span id="burger" class="burger">
    <span></span>
</span>