.burger {
  width: 25px;
  height: 20px;
  position: fixed;
  z-index: 55;
  top: 16px;
  right: 20px;
  cursor: pointer;
  span {
    position: absolute;
    height: 3px;
    left: 0;
    right: 0;
    top: 50%;
    transition: background-color 0.3s;
    &:before,
    &:after {
      content: "";
      position: absolute;
      transform-origin: center center;
      left: 0;
      right: 0;
      height: 3px;
      background-color: $link;
    }
  }
  &:not(.active){
    span {
      background-color: $link;
      &:before,
      &:after {
        transition: margin 0.3s ease 0.3s, transform 0.3s, background-color 0.3s;
      }
      &:before {  margin-top: 8px;  }
      &:after {  margin-top: -8px;  }
    }
    &:hover {
      span {
        background-color: $white;
        &:before,
        &:after {
          background-color: $white;
        }
      }

    }
  }
  &.active {
    span {
      background-color: transparent;
      &:before,
      &:after {
        margin-top: 0;
        transition: margin 0.3s, transform 0.3s ease 0.3s, background-color 0.3s;
      }
      &:before {  transform: rotate(45deg);  }
      &:after {  transform: rotate(-45deg);  }
    }
    &:hover {
      span {
        &:before,
        &:after {
          background-color: $white;
        }
      }

    }
  }

}